<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abdullahil.assemblyproblemsandsolution">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_prob"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Problems"
            android:parentActivityName=".MainActivity"
            android:label="@string/problems"
            >
        </activity>

        <activity android:name=".Solution"
            android:label="Solution"
            android:parentActivityName=".Problems"
            ></activity>
    </application>

</manifest>